@{
    ViewData["Title"] = "Provider App";
}

<div class="text-center">
    <h1 class="display-4">Provider 01 App</h1>
    <p>App de gestión de Stock del Proveedor. Conectada a través de un API gateway que actua como Broker</p>
</div>
